<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Balances</title>
</head>
<body>

Workers for {{ coin }}
<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Monitor</th>
        <th>Hashrate</th>
        <th>Difficulty</th>
    </tr>
    {% for worker in workers %}
        <tr>
            <td>{{ worker["id"] }}</td>
            <td>{{ worker["username"] }}</td>
            <td>{{ worker["monitor"] }}</td>
            <td>{{ worker["hashrate"] }}</td>
            <td>{{ worker["difficulty"] }}</td>
        </tr>
    {% endfor %}
    </thead>
</table>

</body>
</html>